<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642363694302-gsb676l5e4rqmb7081j6g4smihost98s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642363694302-gsb676l5e4rqmb7081j6g4smihost98s</string>
	<key>API_KEY</key>
	<string>AIzaSyCtHT66cPqBbD-VHZ4fc8Y5DZtpCUBqUDw</string>
	<key>GCM_SENDER_ID</key>
	<string>642363694302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jw.flutterLaceuphk</string>
	<key>PROJECT_ID</key>
	<string>laceuphk-3e3d1</string>
	<key>STORAGE_BUCKET</key>
	<string>laceuphk-3e3d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642363694302:ios:d02755ea1dec095df7364f</string>
	<key>DATABASE_URL</key>
	<string>https://laceuphk-3e3d1.firebaseio.com</string>
</dict>
</plist>